<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAi2bud9F5tNc8vw6lL4fN3XNeYe4swgnM</string>
	<key>GCM_SENDER_ID</key>
	<string>350653014336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.notzero.app</string>
	<key>PROJECT_ID</key>
	<string>notzero-learn</string>
	<key>STORAGE_BUCKET</key>
	<string>notzero-learn.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350653014336:ios:0cc85ed43d792e3e625aa5</string>
</dict>
</plist>